<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ValidarUsuario" method="post">
        <label for="correo">Correo Electornico:</label>
        <input type="email" name="correo" id="correo" placeholder="Ingrese correo" value="<%=Datos.correo%>" required>
        <label for="pwd">Password:</label>
        <input type="password" name="pwd" id="pwd" placeholder="Ingrese password" required>
        <button type="submit">Ingresar</button>
        <%for (var x in validaciones){
            if (x == 0){%>
                <br><br>Errores:<br>
            <%}%>
            <%=validaciones[x].param%> :: <%=validaciones[x].msg%> <br>
        <%}%>
    </form>
    <br><br>
    <a href="/CrearUsuario">Crear Cuenta</a>
</body>
</html>